::placeholder{
    color: white;
}

    /* Popup form box */
    #popupForm{
        display: none;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: black;
        z-index: 10001;

        padding: 20px 30px;
        border: 2px solid #444;
        box-shadow: 0 0 15px #000;
        width: 300px;
        border-radius: 10px;
    }

#popupFormLogin{
            display: none;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: black;
        z-index: 10001;

        padding: 20px 30px;
        border: 2px solid #444;
        box-shadow: 0 0 15px #000;
        width: 300px;
        border-radius: 10px;
}


    /* Basic styling for form */
    input,
    button {
        width: 95%;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    button[type="submit"] {
        background-color: transparent;
        color: white;
        border: 1px solid gray;
        cursor: pointer;
    }